@page "/expbaja/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteBaja CasoBaja
@inject CasoDeUsoExpedienteConsultaId ConsultaIdExp
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta
@inject NavigationManager Navigation
<PageTitle>SGE | Expedientes</PageTitle>

<h3>Baja de Expediente</h3>
@if (!visible)
{
    <input placeholder="ID a eliminar" @bind="idExp" class="mt-3 form-control" />
    <button class="btn btn-primary mt-2" @onclick="() => Buscar(idExp)">Buscar</button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Caratula</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@e.Caratula</td>
                <td>@e.Estado</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="() => Eliminar(idExp)">Eliminar</button>
}
<br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
<br>@error


@code {
    [Parameter] public int Id { get; set; }
    Usuario user = new();
    Expediente e = new();
    int idExp;
    string error = "";
    bool visible = false;

    protected override void OnInitialized()
    {
        user = UsuarioConsulta.Ejecutar(Id);
        StateHasChanged();
    }

    public void Buscar(int id)
    {
        e = ConsultaIdExp.Ejecutar(id);
        visible = true;
    }

    public void Eliminar(int idExp)
    {
        try
        {
            CasoBaja.Ejecutar(idExp, user);
            Navigation.NavigateTo($"/home/{user.Id}");
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }

    public void Volver()
    {
        Navigation.NavigateTo($"home/{Id}");
    }
}
