@page "/adminperm/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject CasoDeUsoUsuarioOtorgarPermiso OtorgarPermiso
@inject CasoDeUsoUsuarioListar ListarUsuarios
@inject CasoDeUsoUsuarioConsultaId ConsultaUsuario
@inject CasoDeUsoUsuarioQuitarPermiso QuitarPerm
<PageTitle>SGE | Usuarios</PageTitle>

<h3>Administrar permisos de @u.Nombre @u.Apellido</h3><br>
    ExpedienteAlta  <input type="checkbox" @bind="p1"><br>
    ExpedienteBaja  <input type="checkbox" @bind="p2"><br>
    ExpedienteModificacion  <input type="checkbox" @bind="p3"><br>
    TramiteAlta  <input type="checkbox" @bind="p4"><br>
    TramiteBaja  <input type="checkbox" @bind="p5"><br>
    TramiteModificacion  <input type="checkbox" @bind="p6"><br>
<button class="btn btn-primary mt-2" @onclick="CambiarPermisos">Cambiar permisos</button><br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu de gestion</button>


@code {
    [Parameter] public int Id { get; set; }
    bool p1;
    bool p2;
    bool p3;
    bool p4;
    bool p5;
    bool p6;
    Usuario u = new();
    public void CambiarPermisos()
    {
        if (p1)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)0);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)0);
        }
        if (p2)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)1);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)1);
        }
        if (p3)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)2);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)2);
        }
        if (p4)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)3);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)3);
        }
        if (p5)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)4);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)4);
        }
        if (p6)
        {
            OtorgarPermiso.Ejecutar(u.Id, (Permiso)5);
        }
        else
        {
            QuitarPerm.Ejecutar(u.Id, (Permiso)5);
        }
        Volver();
    }

    protected override void OnInitialized()
    {
        u = ConsultaUsuario.Ejecutar(Id);
        p1 = u.Permisos.Any(p => p == Permiso.ExpedienteAlta);
        p2 = u.Permisos.Any(p => p == Permiso.ExpedienteBaja);
        p3 = u.Permisos.Any(p => p == Permiso.ExpedienteModificacion);
        p4 = u.Permisos.Any(p => p == Permiso.TramiteAlta);
        p5 = u.Permisos.Any(p => p == Permiso.TramiteBaja);
        p6 = u.Permisos.Any(p => p == Permiso.TramiteModificacion);
    }

    public void Volver()
    {
        Navigation.NavigateTo($"gestion/1");
    }
}
