@page "/AltaTramite/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteAlta CasoDeUsoTramiteAlta
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
@inject NavigationManager Navigation
<h3>Alta de Tramite</h3>

<input placeholder="Contenido" @bind="t.Contenido" /><br>
<input placeholder="Etiqueta" @bind="t.Etiqueta" /><br>
<input placeholder="Id del expediente" @bind="t.ExpedienteId" /><br>
<button @onclick="() => Agregar(t)">Iniciar</button>

@error

@code {
  [Parameter] public int Id { get; set; }
  Tramite t = new();
  Usuario user = new();

  protected override void OnInitialized()
  {
    user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
    StateHasChanged();
  }

  string error;

  public void Agregar(Tramite t)
  {
    try
    {
      t.IdUser = user.Id;
      CasoDeUsoTramiteAlta.Ejecutar(t, user);
      Navigation.NavigateTo($"/home/{user.Id}");
    }
    catch(Exception ex)
    {
      error = ex.Message;
    }
  }
}
