@page "/BajaExp/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
@inject NavigationManager Navigation
<h3>BajaExpediente</h3>
<label for="barra">Id de expediente a eliminar</label>
<input placeholder="Caratula" @bind="idexp" class="barra"/><br>
<button @onclick="() => Eliminar(idexp)">Eliminar</button>
@error



@code {
    [Parameter] public int Id {get; set;}
    Usuario user;
    int idexp;
    string error = "";

    public void Eliminar(int idexp)
    {
        Console.WriteLine("Entra a eliminar");
        try
        {
            Console.WriteLine("entra al try");
            CasoDeUsoExpedienteBaja.Ejecutar(idexp, user);
            Console.WriteLine("Borra (no)");
            Navigation.NavigateTo($"/home/{user.Id}");
            Console.WriteLine("navega (no)");
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine("Entra al catch");
            error = e.Message;
            StateHasChanged();
        }
    }

    protected override void OnInitialized() 
    {
        user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
        StateHasChanged();
    }

}
