@rendermode InteractiveServer
<style>
    .dialogo-contenedor {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dialogo-contenido {
        padding: 25px;
        background-color: white;
        border-radius: 0.375rem;
    }
</style>

@if (visible)
{
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h5>@Mensaje</h5>
            <button class="btn btn-primary" @onclick="Cerrar">Atras</button>
        </div>
    </div>
}

@code {
    [Parameter] public EventCallback OnConfirmado { get; set; }
    [Parameter] public string Mensaje { get; set; } = "";
    private bool visible = false;

    public void Mostrar()
    {
        visible = true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible = false;
        OnConfirmado.InvokeAsync();
    }
}