@rendermode InteractiveServer
<style>
    .dialogo-contenedor {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: flex;
        align-items: center;   
        justify-content: center;
    }
    .dialogo-contenido {
        padding: 20px;
        background-color: white;   
        border: 4px solid black;
        border-radius: 20px;
    }
</style>

 @if(visible)
 {
    <div class="dialogo-contenedor">
        <div class="dialogo-contenido">
            <h3>@Mensaje</h3>
            <button class="btn btn-primary" @onclick="Cerrar">Atras</button>
        </div>
    </div>
 }
 @code{
    [Parameter] public EventCallback OnConfirmado{get;set;}
   private bool visible = false;
   [Parameter] public string Mensaje {get;set;}="";
   public void Mostrar()
   {
       visible=true;
       StateHasChanged();
   }
   void Cerrar()
   {
       visible=false;
       OnConfirmado.InvokeAsync();
   }
 }