@page "/home/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
<h3>Sistema de gestion de expedientes</h3>

Bienvenido @user.Nombre @user.Apellido

@code {
    [Parameter] public int Id {get; set;}
    
    Usuario user = new Usuario();
    
    protected override void OnInitialized()
    {
        user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
    }
}
