@page "/listarusers/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoListarUsuarios ListarLosUsuarios
<h3>Lista de usuarios</h3>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario u in lista)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.Email</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter] public int Id {get; set;}
    List<Usuario> lista = [];
    
    protected override void OnInitialized()
    {
        lista = ListarLosUsuarios.Ejecutar();
    }

}
