@rendermode InteractiveServer
@inject CasoDeUsoUsuarioLogin CasoLogin
@inject NavigationManager Navigation
@inject UsuarioLogeado usuario
<PageTitle>SGE | Login</PageTitle>

<h3>Ingrese a su cuenta</h3>
<form>
    <input class="form-control" type="email" placeholder="Email" @bind="email"><br>
    <input class="form-control" type="password" placeholder="Contraseña" @bind="pass"><br>
</form>
<button class="btn btn-primary" @onclick="Ingresar">Ingresar</button>
<CuadroDialogo @ref=dialogo Mensaje=@Error />
<br>

@code {
    Usuario user = new();
    string email = "";
    string pass = "";
    string Error = "";
    CuadroDialogo dialogo = null!;

    public void Ingresar()
    {
        try
        {
            user = CasoLogin.Ejecutar(email, pass);
            usuario.setUser(user);
            Navigation.NavigateTo($"/home");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            dialogo.Mostrar();
        }
    }

}
