@rendermode InteractiveServer
@inject CasoDeUsoUsuarioLogin CasoLogin
@inject NavigationManager Navigation
<PageTitle>SGE | Login</PageTitle>

<h3>Ingrese a su cuenta</h3>
<form>
    <input class="form-control" type="email" placeholder="Email" @bind="email"><br>
    <input class="form-control" type="password" placeholder="Contraseña" @bind="pass"><br>
</form>
<button class="btn btn-primary" @onclick="Ingresar">Ingresar</button>
<br>
@Error

@code {
    Usuario user = new();
    string email = "";
    string pass = "";
    string Error = "";

    public void Ingresar()
    {
        try
        {
            user = CasoLogin.Ejecutar(email, pass);
            Navigation.NavigateTo($"/home/{user.Id}");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
        }
    }

}
