@page "/signup"
@rendermode InteractiveServer
@inject CasoDeUsoSignup CasoDeUsoSignup
@inject NavigationManager NavigationManager
<PageTitle>SGE | Signup</PageTitle>
<h3>Signup</h3>
<input placeholder="Nombre" @bind="u.Nombre" /><br>
<input placeholder="Apellido" @bind="u.Apellido" /><br>
<input placeholder="Email" @bind="u.Email" /><br>
<input placeholder="Contraseña" @bind="u.Contraseña" /><br>
<button @onclick="Agregar">Registrarse</button><br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
@code {
    Usuario u = new Usuario();
    public void Agregar()
    {
        CasoDeUsoSignup.Ejecutar(u);
        NavigationManager.NavigateTo("/");

    }

    public void Volver()
    {
        NavigationManager.NavigateTo($"/");
    }

}
