@page "/signup"
@rendermode InteractiveServer
@inject CasoDeUsoSignup CasoDeUsoSignup
@inject NavigationManager NavigationManager
<PageTitle>SGE | Signup</PageTitle>
<h3>Signup</h3>
<form>
    <input class="form-control" type="text" placeholder="Nombre" @bind="u.Nombre"><br>
    <input class="form-control" type="text" placeholder="Apellido" @bind="u.Apellido"><br>
    <input class="form-control" type="email" placeholder="Email" @bind="u.Email"><br>
    <input class="form-control" type="password" placeholder="Contraseña" @bind="u.Contraseña"><br>
</form>
<button class="btn btn-primary mt-2" @onclick="Agregar">Aceptar</button><br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
@code {
    Usuario u = new Usuario();
    public void Agregar()
    {
        CasoDeUsoSignup.Ejecutar(u);
        Volver();
    }

    public void Volver()
    {
        NavigationManager.NavigateTo($"/");
    }
}
