@page "/signup"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioSignup CasoDeUsoSignup
@inject NavigationManager NavigationManager
<PageTitle>SGE | Signup</PageTitle>

<h3>Ingrese sus datos personales</h3>
<form>
    <input class="form-control" type="text" placeholder="Nombre" @bind="u.Nombre"><br>
    <input class="form-control" type="text" placeholder="Apellido" @bind="u.Apellido"><br>
    <input class="form-control" type="email" placeholder="Email" @bind="u.Email"><br>
    <input class="form-control" type="password" placeholder="Contraseña" @bind="u.Contraseña"><br>
</form>
<button class="btn btn-primary mt-2" @onclick="Agregar">Aceptar</button><br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al inicio</button>
<CuadroDialogo @ref=dialogo Mensaje=@error />

@code {
    Usuario u = new Usuario();
    string error = "";

    CuadroDialogo dialogo = null!;
    void Agregar()
    {
        try
        {
            CasoDeUsoSignup.Ejecutar(u);
            Volver();
        }
        catch (Exception ex)
        {
            error = ex.Message;
            dialogo.Mostrar();
        }
    }

    void Volver() => NavigationManager.NavigateTo($"/");
}
