@page "/tramitebaja/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteBaja CasoBaja
@inject CasoDeUsoConsultaUsuarioId CasoDeUsoConsultaUsuarioId
@inject NavigationManager Navigation
<PageTitle>SGE | Tramite</PageTitle>
<h3>Baja de Tramite</h3>
<label for="barra">Id de tramite a eliminar</label>
<input placeholder="Id" @bind="idTram" class="barra" /><br>
<button @onclick="() => Eliminar(idTram)">Eliminar</button>
@error

@code {
  [Parameter] public int Id { get; set; }
  Usuario user = new();
  int idTram;
  string error = "";

  protected override void OnInitialized()
  {
    user = CasoDeUsoConsultaUsuarioId.Ejecutar(Id);
    StateHasChanged();
  }

  public void Eliminar(int idTram)
  {
    try
    {
      CasoBaja.Ejecutar(idTram, user);
      Navigation.NavigateTo($"/home/{user.Id}");
      StateHasChanged();
    }
    catch (Exception ex)
    {
      Console.WriteLine("Entra al catch");
      error = ex.Message;
      StateHasChanged();
    }
  }
}
