@page "/tramitealta"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteAlta CasoAlta
@inject NavigationManager Navigation
@inject CasoDeUsoExpedienteConsultaId ConsultaIdExp
@inject SesionActual Sesion
<PageTitle>SGE | Tramites</PageTitle>

<h3>Agregar Tramite</h3>
<form>
  <label class="mt-2" for="cont">Contenido: </label>
  <input class="form-control" @bind="t.Contenido" id="cont">
  <label class="mt-1" for="etiq">Etiqueta: </label>
  <select class="form-control" @bind="strEtiqueta" id="etiq">
    <option value="" disabled selected>Seleccione una etiqueta</option>
    <option>EscritoPresentado</option>
    <option>PaseAEstudio</option>
    <option>Despacho</option>
    <option>Resolucion</option>
    <option>Notificacion</option>
    <option>PaseAlArchivo</option>
  </select>
  <label class="mt-1" for="expid">Id del expediente asociado: </label>
  <input class="form-control" @bind="t.ExpedienteId" id="expid"><br>
</form>
<button class="btn btn-primary mt-2" @onclick="() => Agregar(t)">Aceptar</button><br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
<br>
<CuadroDialogo @ref=dialogo Mensaje=@error />

@code {
  Tramite t = new();
  string strEtiqueta = "";
  string error = "";
  Expediente exp = new();
  CuadroDialogo dialogo = null!;

  void Agregar(Tramite t)
  {
    try
    {
      exp = ConsultaIdExp.Ejecutar(t.ExpedienteId);
      t.Etiqueta = (EtiquetaTramite)Enum.Parse(typeof(EtiquetaTramite), strEtiqueta);
      CasoAlta.Ejecutar(t, Sesion.User);
      Navigation.NavigateTo($"/tramitelistar");
    }
    catch (Exception ex)
    {
      error = ex.Message;
      if (error == "Must specify valid information for parsing in the string. (Parameter 'value')")
      {
        error = "Debe seleccionar una etiqueta";
      } 
      dialogo.Mostrar();
    }
  }

  void Volver() => Navigation.NavigateTo($"/home");
}