@page "/tramitemodificacion"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteModificacion CasoModificacion
@inject CasoDeUsoTramiteConsultaId CasoConsulta
@inject NavigationManager Navigation
@inject UsuarioLogeado usuario
<PageTitle>SGE | Tramites</PageTitle>

<h3>Modificacion de Tramite</h3>
@if (!visible)
{
  <label class="mt-2" for="consid">ID a modificar:</label>
  <input class="form-control" @bind="idTram" id="consid"><br>
  <button class="btn btn-primary mt-2" @onclick="() => Consultar(idTram)">Buscar</button><br>
}
else
{
  <form>
    <label class="mt-2" for="cont">Contenido:</label>
    <input class="form-control" @bind="t.Contenido" id="cont">
    <select class="form-control" @bind="strEtiqueta" id="etiq">
      <option value="" disabled selected>Seleccione una etiqueta</option>
      <option>EscritoPresentado</option>
      <option>PaseAEstudio</option>
      <option>Despacho</option>
      <option>Resolucion</option>
      <option>Notificacion</option>
      <option>PaseAlArchivo</option>
    </select><br>
  </form>
  <button class="btn btn-primary mt-2" @onclick="() => Modificar(t)">Guardar cambios</button><br>
}
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
<br>
@if (@error == "Value cannot be null. (Parameter 'value')")
{
  error = "Debe seleccionar una etiqueta";
}
<CuadroDialogo @ref=dialogo Mensaje=@error />

@code {
  Tramite t = new();
  string error = "";
  int idTram;
  bool visible = false;
  string strEtiqueta = "";
  CuadroDialogo dialogo = null!;

  void Consultar(int idTram)
  {
    try
    {
      t = CasoConsulta.Ejecutar(idTram);
      visible = true;
      error = "";
    }
    catch (Exception ex)
    {
      error = ex.Message;   
      visible = false;
      dialogo.Mostrar();
    }
  }
  void Modificar(Tramite t)
  {
    try
    {
      t.Etiqueta = (EtiquetaTramite)Enum.Parse(typeof(EtiquetaTramite), strEtiqueta);
      CasoModificacion.Ejecutar(t, usuario.user);
      Navigation.NavigateTo($"/tramitelistar");
    }
    catch (Exception ex)
    {
      error = ex.Message;
      dialogo.Mostrar();
    }
  }

  void Volver() => Navigation.NavigateTo($"/home");
}