@page "/tramitebaja"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteBaja CasoBaja
@inject CasoDeUsoTramiteConsultaId CasoConsulta
@inject NavigationManager Navigation
@inject UsuarioLogeado usuario
<PageTitle>SGE | Tramites</PageTitle>

<h3>Eliminar Tramite</h3>
@if (!visible)
{
  <label class="mt-2" for="inp">ID de tramite:</label>
  <input @bind="idTram" class="form-control" id="inp" />
  <button class="btn btn-primary mt-2" @onclick="() => Buscar(idTram)">Buscar</button>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Contenido</th>
        <th>Etiqueta</th>
        <th>ID del expediente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@t.Id</td>
        <td>@t.Contenido</td>
        <td>@t.Etiqueta</td>
        <td>@t.ExpedienteId</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary mt-2" @onclick="() => Eliminar(idTram)">Eliminar</button>
}
<CuadroDialogo @ref=dialogo Mensaje=@error />
<br>
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu</button>
<br>

@code {
  [Parameter] public int Id { get; set; }
  Tramite t = new();
  Usuario user = new();
  int idTram;
  string error = "";
  bool visible = false;

  CuadroDialogo dialogo = null!;

  void Buscar(int idTram)
  {
    try
    {
      t = CasoConsulta.Ejecutar(idTram);
      visible = true;
    }
    catch (Exception e)
    {
      error = e.Message;
      visible = false;
      dialogo.Mostrar();
    }

  }

  void Eliminar(int idTram)
  {
    try
    {
      CasoBaja.Ejecutar(idTram, usuario.user);
      Navigation.NavigateTo($"/tramitelistar");
    }
    catch (Exception ex)
    {
      error = ex.Message;
      dialogo.Mostrar();
    }
  }

  void Volver() => Navigation.NavigateTo($"/home");
}
