@page "/usermod/{Id:int}"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioModificacion CasoDeUsoUsuarioModificacion
@inject CasoDeUsoUsuarioConsultaId UsuarioConsulta
@inject NavigationManager Navigation
@inject SesionActual Sesion
<PageTitle>SGE | Usuarios</PageTitle>

@if (Sesion.User.Id == 1 || Sesion.User.Id == Id)
{
    <h3>Ingresar nuevos datos para @user.Nombre @user.Apellido</h3>
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input @bind="user.Nombre" class="form-control" id="nom"></td>
                    <td><input @bind="user.Apellido" class="form-control" id="ape"></td>
                    <td><input @bind="user.Email" class="form-control" id="ema"></td>
                    <td><input type="password" @bind="pass" class="form-control" id="pw"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <button class="btn btn-primary" @onclick="() => Modificar(user)">Guardar cambios</button><br>
}
else
{
    <h3>No tiene permisos para modificar otro usuario</h3>
}
<button class="btn btn-secondary mt-2" @onclick="Volver">Volver al menu de gestion</button>
<br>
<CuadroDialogo @ref=dialogo Mensaje=@error />

@code {
    [Parameter] public int Id { get; set; }
    Usuario user = new();
    string pass = "";
    string error = "";
    CuadroDialogo dialogo = null!;

    protected override void OnInitialized()
    {
        try
        {
            user = UsuarioConsulta.Ejecutar(Id);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
    void Modificar(Usuario user)
    {
        try
        {
            user.Contraseña = pass;
            CasoDeUsoUsuarioModificacion.Ejecutar(user);
            Navigation.NavigateTo($"/home");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            dialogo.Mostrar();
        }
    }
    void Volver() => Navigation.NavigateTo($"/home");
}
